@use "tokens";

@mixin card-base {
  grid-column: span 3;
  font-weight: var(--font-weight-light);

  @media (max-width: tokens.$breakpoint-sm) {
    grid-column: span 12;
  }

  h3 {
    margin: 0 0 var(--space-xs);
    font-weight: var(--font-weight-light);
  }

  p {
    font-size: var(--font-size-body);
    margin: 0;
  }

  .description {
    margin: var(--space-md) 0;
  }
}
