html,
body {
  margin: 0;
  padding: 0;
  background-color: #13102b;
}

body {
  color: var(--color-text);
  font-family: var(--font-base);
  background: none;
}

h1 {
  display: none;
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-light);
  margin: 0;
}

a {
  color: var(--color-text);
  text-decoration: none;
  transition: ease-in 200ms;

  &:hover {
    color: var(--color-text-hover);
  }

  span {
    text-decoration: underline;
  }
}
