@use "abstracts";

project-card {
  @include abstracts.card-base;

  h3 {
    font-size: var(--font-size-h3-lg);
  }
}

person-card {
  @include abstracts.card-base;

  h3 {
    font-size: var(--font-size-h3-sm);
  }
}

.links {
  display: flex;
  gap: var(--space-sm);

  a {
    display: inline-flex;
    align-items: center;
    gap: var(--space-sm);
  }
}

.icon {
  width: 16px;
  height: 16px;
}
