@use "abstracts";

project-card {
  @include abstracts.card-base;

  h3 {
    font-size: var(--font-size-h3-lg);
  }
}

person-card {
  @include abstracts.card-base;

  @media screen and (max-width: 768px) {
    display: flex;
    gap: var(--space-md);

    .description {
      margin: 0;
    }
  }

  h3 {
    font-size: var(--font-size-h3-sm);
  }
}

.links {
  display: flex;
  gap: var(--space-sm);
  margin-top: var(--space-md);

  a {
    display: inline-flex;
    align-items: center;
    gap: var(--space-sm);
  }
}

.person-image {
  @media screen and (max-width: 768px) {
    width: 120px;
    height: 120px;
  }
}

.icon {
  width: var(--space-md);
  height: var(--space-md);
}
