@use "tokens";

.bg-layer {
  position: fixed;

  top: calc(-1 * env(safe-area-inset-top));
  left: calc(-1 * env(safe-area-inset-left));
  right: calc(-1 * env(safe-area-inset-right));
  bottom: calc(-1 * env(safe-area-inset-bottom));

  z-index: -1;

  background: linear-gradient(
    180deg,
    var(--background-layer-01) 0%,
    var(--background-layer-01) 25%,
    var(--background-layer-02) 25%,
    var(--background-layer-02) 41%,
    var(--background-layer-03) 41%,
    var(--background-layer-03) 54%,
    var(--background-layer-04) 54%,
    var(--background-layer-04) 70%,
    var(--background-layer-05) 70%,
    var(--background-layer-05) 100%
  );

  transform: translateZ(0);
  will-change: transform;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-lg);
  width: 100%;
  max-width: var(--grid-max-width);
  margin: var(--space-lg) auto;
  padding: 0 var(--space-md);
  box-sizing: border-box;

  @media (min-width: tokens.$breakpoint-sm) {
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: var(--space-xl);
  }
}

header {
  grid-column: 1 / -1;
  text-align: center;

  p {
    font-size: var(--font-size-h3-lg);
  }

  @media (min-width: tokens.$breakpoint-sm) {
    grid-column: 3 / 10;
  }
}

.section-block {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-lg);

  @media (min-width: tokens.$breakpoint-sm) {
    grid-template-columns: repeat(var(--grid-columns), 1fr);
  }

  h2 {
    grid-column: 1 / 13;
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-light);
  }

  img {
    max-width: 100%;
  }
}
