@use "tokens";

.bg-layer {
  position: fixed;

  top: calc(-1 * env(safe-area-inset-top));
  left: calc(-1 * env(safe-area-inset-left));
  right: calc(-1 * env(safe-area-inset-right));
  bottom: calc(-1 * env(safe-area-inset-bottom));

  z-index: -1;

  background: linear-gradient(
    180deg,
    var(--background-layer-01) 0%,
    var(--background-layer-01) 25%,
    var(--background-layer-02) 25%,
    var(--background-layer-02) 41%,
    var(--background-layer-03) 41%,
    var(--background-layer-03) 54%,
    var(--background-layer-04) 54%,
    var(--background-layer-04) 70%,
    var(--background-layer-05) 70%,
    var(--background-layer-05) 100%
  );

  transform: translateZ(0);
  will-change: transform;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-lg);
  width: 100%;
  max-width: var(--grid-max-width);
  margin: var(--space-xl) auto;
  padding: 0 var(--space-md);
  box-sizing: border-box;

  @media (min-width: tokens.$breakpoint-sm) {
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: var(--space-xl);
  }
}

header {
  grid-column: 1 / -1;
  text-align: center;

  p {
    font-size: var(--font-size-h3-lg);
  }

  @media (min-width: tokens.$breakpoint-sm) {
    grid-column: 3 / 10;
  }
}

#main {
  grid-column: 1 / -1;
  display: grid;
  gap: var(--space-xl);
}

#contact {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-lg);

  @media (min-width: tokens.$breakpoint-sm) {
    grid-template-columns: repeat(var(--grid-columns), 1fr);
  }

  p {
    margin: 0;
  }
  a span {
    word-break: break-word;
    overflow-wrap: anywhere;
  }

  .contact-info,
  .contact-links {
    grid-column: 1 / -1;
  }

  .contact-info {
    display: grid;
    gap: var(--space-sm-md);
  }
}

li {
  font-style: none;
  position: relative;
  &:not(:first-child)::before {
    content: none;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--space-sm-md);
  @media screen and (min-width: 769px) {
    flex-direction: row;
  }
}

li {
  font-style: none;
  position: relative;
  @media screen and (min-width: 769px) {
    &:not(:first-child)::before {
      content: "/";
      margin-right: var(--space-sm-md);
      color: var(--color-text-muted);
    }
  }
}

.section-block {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-lg);

  @media (min-width: tokens.$breakpoint-sm) {
    grid-template-columns: repeat(var(--grid-columns), 1fr);
  }

  h2 {
    grid-column: 1 / -1;
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-light);
  }

  img {
    max-width: 100%;
  }

  & project-card,
  & person-card {
    grid-column: span 4;

    @media (max-width: tokens.$breakpoint-sm) {
      grid-column: 1 / -1;
    }
  }
}
