:root {
  --color-text: #ffffff;
  --color-primary: #663291;
  --color-text-hover: #cccccc;
  --color-bg-primary: #13102b;
  --color-bg-secondary: #181435;
  --color-link: #ffffff;
  --font-base: "Montserrat", sans-serif;

  --font-size-h2: 32px;
  --font-size-h3-lg: 18px;
  --font-size-h3-sm: 16px;
  --font-size-body: 13px;

  --font-weight-light: 300;

  --space-xs: 4px;
  --space-sm: 8px;
  --space-sm-md: 12px;
  --space-md: 16px;
  --space-md-lg: 24px;
  --space-lg: 32px;
  --space-xl: 48px;

  --grid-columns: 12;
  --grid-max-width: 1120px;

  --background-layer-01: rgba(19, 16, 43, 1);
  --background-layer-02: rgba(24, 20, 53, 1);
  --background-layer-03: rgba(28, 24, 61, 1);
  --background-layer-04: rgba(30, 27, 70, 1);
  --background-layer-05: rgba(35, 31, 82, 1);
}

$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
